html {
    background-color: #fdd2e1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 10px solid #fdd2e1;
  }
  
  body {
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    padding:0px;
    box-sizing: border-box;
  }
a {
    color: #6d3a35;
    text-decoration: none;
  }
  a:hover {
    color: #fdd2e1;
  }
/* Fondo blanco para el header */
header {
    background-color: #fff;
    padding: 20px 0;
  }

/* Fondo rosa para el menu */

.navbar {
    background-color: #fdd2e1;
    margin-left: -20px;
    margin-right: -12px;
  }
  nav {
    background-color: #fdd2e1;
    padding: 10px;
  }

/* Alinear logo y slogan verticalmente */
.logo img {
    height: 150px;
    width: 150px;
  }

/* Estilo para el nombre de la página */
.page-title {
    font-family: 'Brusher', cursive;
    font-size: 64px;
    margin-top: 20px;
    margin-bottom: 0;
    color: #6d3a35;
  }
  
  /* Estilo para el slogan */
  .slogan {
    font-size: 22px;
    margin-top: 0;
    color: #6d3a35;
  }


/* Definir ancho máximo de las imágenes del carrusel */
.carousel-item img {
    max-width: 40%;
    max-height: 40%;
    margin: 0 auto; /* Centrar horizontalmente */
  }

  footer {
    background-color: #fdd2e1;
  }